<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881785536655-aejt0jhquqenaqfsnq4kqkg47ittbb3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881785536655-aejt0jhquqenaqfsnq4kqkg47ittbb3n</string>
	<key>API_KEY</key>
	<string>AIzaSyB8H1S65UTFB1NGZec06jiDm_bOBYRtIxo</string>
	<key>GCM_SENDER_ID</key>
	<string>881785536655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exame.BaheyApp</string>
	<key>PROJECT_ID</key>
	<string>baheyapp-41086</string>
	<key>STORAGE_BUCKET</key>
	<string>baheyapp-41086.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:881785536655:ios:ac0fb7b048073d4d4330fa</string>
</dict>
</plist>
